@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to My first Project</h1>
    <p>follow me up <a href="https://docs.microsoft.com/aspnet/core"> I am here because of ASP.NET core MVC</a>.</p>
</div>
